body {
  width: 100%;
  height: 600px;
  position: relative;
}
.position {
  width: 100px;
  height: 100px;
  background-color: skyblue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
